.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#tooltip {
  position: absolute;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  pointer-events: none; /* To avoid the tooltip interfere with other mouse events */
}